
@{
    ViewBag.Title = "Start";
}
<center>
    <h2>
        Here you can search for any repository you want and
        get the most appropriate search results
        in a convenient and friendly way.
    </h2>
</center>
<br />
<input style="width:350px;border-color:black" id="Name" type="text" placeholder="Enter a searchable repository name"/>
<button style="border-color:black">Search</button>